/***** GENERAL *****/
body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #128c7e 12%,
    #dddbd1 12%,
    #dddbd1 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

#app .container {
  height: 90%;
}

/***** UTILITYS *****/
.bg-light-gray {
  background-color: #eaeaea;
}

.bg-light-blue {
  background-color: #9de1fe;
}

.bg-chat-color {
  background-color: #ece5dd;
}

.bg-chat-image {
  background-image: url(../img/mine.jpg);
}

/***** CHAT SECTION *****/
#chat header,
#chat footer {
  height: 70px;
}
