.background {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(18, 140, 126, 1) 0%,
    rgba(18, 140, 126, 1) 15%,
    rgba(219, 219, 210, 1) 15%
  );
}

.app-window {
  background-color: red;
  border-radius: 20px;
  height: calc(100% - 38px);
  border-bottom-left-radius: 20px;
}

.top-left-radius {
  border-top-left-radius: 20px;
}

/************************************ LEFT SIDE ************************************/

.user-profile {
  border-right: 1px solid #919191;
  padding: 10px 16px;
  background-color: #ededed;
  height: 60px;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.chat,
.unread,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

/************************************ NOTIFICATION ************************************/
.notification {
  background-color: #9de1fe;
}

/************************************ SEARCH BAR ************************************/
.search-row {
  background-color: #ededed;
}

.search-bar {
  padding: 5px;
  background-color: #fff;
  border-radius: 20px;
}

/************************************ CHATS ************************************/
.chats {
  background-color: #fff;
  height: 1003px;
  overflow-y: auto;
  border-bottom-left-radius: 20px;
}

.contact-profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.contact-name {
  padding-left: 20px;
}

.contact-side {
  border-bottom: 1px solid #ededed;
}

/************************************ HEADER ************************************/
.header {
  background-color: #ededed;
  height: 60px;
  border-top-right-radius: 20px;
}
/************************************ MAIN ************************************/
.main-chat {
  background-image: url('../img/mine.jpg');
  background-size: contain;
  height: 80vh;
}

/************************************ FOOTER ************************************/

.footer {
  background-color: #ededed;
  border-bottom-right-radius: 20px;
}

.form-control {
  border-radius: 30px;
}

.clip {
  padding-left: 10px;
}

.user-message {
  width: 100%;
}

/************************************ MESSAGE CHAT ************************************/
.sms {
  padding: 10px 20px;
  max-width: 450px;
  display: inline-block;
  background-color: #919191;
  border-radius: 20px;
  word-wrap: break-word;
}

.user-sms {
  background-color: lightgreen;
}
